* html .u0_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dd6b4168-0dc6-4fe1-afd7-0eb1af397ff0_files/u0_normal.png");
}

* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dd6b4168-0dc6-4fe1-afd7-0eb1af397ff0_files/u0_normal.png");
}

* html .u4_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dd6b4168-0dc6-4fe1-afd7-0eb1af397ff0_files/u0_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dd6b4168-0dc6-4fe1-afd7-0eb1af397ff0_files/u11_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dd6b4168-0dc6-4fe1-afd7-0eb1af397ff0_files/u11_normal.png");
}

* html .u16_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dd6b4168-0dc6-4fe1-afd7-0eb1af397ff0_files/u11_normal.png");
}

* html .u18_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="dd6b4168-0dc6-4fe1-afd7-0eb1af397ff0_files/u11_normal.png");
}

