<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckRegister</servlet-name>
    <servlet-class>netshop.CheckRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>netshop.logout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckLogin</servlet-name>
    <servlet-class>netshop.CheckLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Enter</servlet-name>
    <servlet-class>netshop.Enter</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>CheckRegister</servlet-name>
    <url-pattern>/servlet/CheckRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/servlet/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckLogin</servlet-name>
    <url-pattern>/servlet/CheckLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Enter</servlet-name>
    <url-pattern>/enterServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>enterServlet</welcome-file>
  </welcome-file-list>
  
  
  	 <filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>filters.loginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/goods.jsp</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
	</filter-mapping> 
</web-app>
